<article class="message <%- css_class %>" style="min-width: 60%; max-width: 90%;">
    <div class="message-body">
        <span><%- message %>
        </span>
        <div class="buttons are-small mt-4">
            <button class="button <%- css_class %> toast-ok">Ok</button>
        </div>
    </div>
</article>