<footer class="footer py-2 is-size-7">
    <div class="content has-text-centered">
        <p>
            Created with <a href="https://bulma.io" target="_blank"><strong>Bulma</strong></a> and <a href="https://mongoosejs.com"
               target="_blank"><strong>Mongoose</strong></a>.
        </p>
    </div>
</footer>